<div class="dropdown">
    <a href="#" id="managedropdownmenu" data-toggle="dropdown">Manage</a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a class="dropdown-item" asp-action="Index" asp-controller="DBManage" asp-area="Database">
            Database
        </a>
    </div>
</div>