@model string

@{
    Layout = "_Layout";
}

<div>
    <h1>Xin chào @Model</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, neque quos consequuntur necessitatibus quibusdam, incidunt maiores, dolor quis deleniti sapiente consequatur. Quaerat beatae dolor temporibus eveniet, nam omnis voluptates nemo.</p>
</div>