@model ASP.NET_CORE_MVC.Models.PlanteModel

<h1>@Model.Name</h1>
<div>
    <h2>@Model.VnName</h2>
    <img src="~/Files/chucnang_project.png" />
    <p>@Model.Content</p>

    <a asp-action="Index">Các hành tinh</a>
</div>