@{
    ViewData["Title"] = "Xóa db";
}

<h1>@ViewData["Title"]</h1>
<form method="post" asp-action="DeleteDbAysnc">
    <button type="submit">
        Xóa DB
    </button>

    <hr>

    <a asp-action="Index">Quản lý DB</a>
</form>